<!DOCTYPE html>
<html>
<head>
    <title>New Order</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
</head>

<body>
<div class="container mx-auto mt-10">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Create Menu Order
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Please fill the form fields with your desired information.
            </p>

            <div>
                {% if saved %}
                <div class="rounded p-3 mt-5 mb-5 bg-green-500 text-white text-center">Your order has been created!
                </div>
                {% endif %}

                {% if saved == False %}
                <div class="rounded p-3 mt-5 mb-5 bg-red-500 text-white text-center">Woops! your order failed, please
                    try again.
                </div>
                {% endif %}

                {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="rounded p-3 mt-5 mb-5 bg-red-500 text-white text-center">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="rounded p-3 mt-5 mb-5 bg-red-500 text-white text-center">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <form method="post" action="/order/create/{{ menu.menu_id }}" id="order_form">
            {% csrf_token %}
            <div class="border-t border-gray-200">
                <dl>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Chosen Menu
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ menu.name }}
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Customization
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <textarea id="id_customization" name="customization" class="border w-full h-30"
                                      required></textarea>
                            <div>Type here if you don't want anything. (example: Alergic to garlic etc)</div>
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <button type="submit"
                                    class="rounded-md border ml-0 bg-black p-3 pt-2 pb-2 text-white text-sm m-1">
                                Order Now
                            </button>
                            <a href="/menu/today/"
                               class="rounded-md border ml-0 gray p-3 pt-2 pb-2 text-black text-sm m-1">
                                Cancel
                            </a>
                        </dd>
                    </div>

                </dl>
            </div>
        </form>
    </div>
</div>
</body>
</html>